.btn-div {
  position: relative;
}

.btn {
  font-family: Roboto;
  font-weight: 600;
  font-size: 2rem;
  line-height: 54.23px;
  background-color: #211935;
  color: #f8f8f8;
  width: 425px;
  height: 80px;
  border-radius: 12.89px;
  border: none;
  cursor: pointer;
  padding-left: 2rem;
}

.projects-btn {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 54.23px;
  background-color: #211935;
  color: #f8f8f8;
  width: 325px;
  height: 65px;
  border-radius: 12.89px;
  border: none;
  cursor: pointer;
  padding-left: 2rem;
}

.add-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
