.homepageSection {
  font-family: Roboto;
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.homepageTitle {
  color: #7e22ce;
  font-weight: 700;
  font-size: 73.41px;
  line-height: 86.03px;
}

.homepageDescription {
  color: #838383;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.02px;
  text-align: center;
}
