.homepageSection {
  font-family: Roboto;
  height: 90%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.homepageTitle {
  color: #7e22ce;
  font-weight: 700;
  font-size: 73.41px;
  line-height: 86.03px;
}

.homepageDescription {
  color: #838383;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.02px;
  text-align: center;
}

dialog > h2 {
  margin-bottom: 1.5rem;
}

dialog > label {
  display: block;
  color: rgb(170, 170, 170);
  margin-bottom: 0.5rem;
}

dialog > input {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 15px;
  width: 500px;
}

.btnGroup {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.cancelBtn {
  color: red;
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
}

.createBtn {
  background-color: #7e22ce;
  color: white;
  border: none;
  font-size: 15px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
