.projectCard {
  font-family: Roboto;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.165rem rgba(0, 0, 0, 0.5);
}

.projectCardInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectName {
  font-weight: 700;
  color: #7e22ce;
  font-size: 23px;
}

.projectEpisodes,
.projectLastModified {
  font-size: 13px;
}

.projectEpisodes {
  color: #3c3c3c;
  font-weight: 400;
  margin-top: 0.5rem;
}

.projectLastModified {
  color: #969696;
  font-weight: 400;
}
