.projectsSection {
  width: 80%;
  margin: 0 auto;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectsTitle {
  font-family: Roboto;
  font-weight: 700;
  color: #7e22ec;
  font-size: 2rem;
}

.projectsGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
}
