.uploadsOutlet {
  width: 100%;
  overflow: scroll;
}

.uploadTitle {
  font-size: 2rem;
  color: #7e22ec;
  font-weight: 700;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.uploadGrid {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
